In [12]:
import numpy as np

In [1]:
import pandas as pd

In [6]:
data = pd.read_excel("C:\\Users\\bbaah\\OneDrive\\Desktop\\Python\\Problem 8.8 in Excel 8th.xlsm")

In [7]:
data.head()

   Sales
0      2
1      5
2     14
3      4
4     11

In [8]:
data.mean()

Sales    5.625
dtype: float64

In [10]:
from statsmodels.stats.weightstats import _tconfint_generic

In [14]:
_tconfint_generic(mean=data.mean(), std_mean=data.std()/np.sqrt(len(data)), dof=len(data)-1, alpha=(1-0.95), alternative = "two-sided")

(Sales    4.195407
 dtype: float64,
 Sales    7.054593
 dtype: float64)

In [16]:
from statsmodels.stats.weightstats import _tstat_generic

In [17]:
_tstat_generic(value1 = data.mean(), value2 = 0, diff=1, std_diff=data.std()/np.sqrt(len(data)),dof=len(data)-1, alternative="smaller")

(Sales    6.692494
 dtype: float64,
 array([0.9999996]))

In [18]:
data.describe()

           Sales
count  24.000000
mean    5.625000
std     3.385551
min     1.000000
25%     3.000000
50%     5.500000
75%     8.000000
max    14.000000